<template>
	<div id="app">
		<div v-if="logged === false" class="loginform">
			<h2> CurrencyApp </h2>
			<br>
			<p class="text"> login </p>
			<input v-model="login">
			<p class="text"> password </p>
			<input v-model="password" type="password"> <br>
			<button style="margin-top: 10px;" @click="trylogin()"> Войти </button>
			<p v-if="response === 'NO'" class="error"> Введены неверные данные </p>
			<hr>
			<button @click="logged=true"> login </button>
		</div>
		<div v-if="logged === true">
		<h2>CurrencyApp</h2>
		<div class="container">
			<div class="tabs">
				<p v-on:click="activetab=1" v-bind:class="activatetab(activetab)">History</p>
				<p @click="activetab=2" :class="activatetab(activetab)">Prediction</p>
				<p @click="activetab=3" :class="activatetab(activetab)">Currency</p>
				<div>
					<p @click="showexit=!showexit" class="dropdown">Profile</p>
					<div v-if="showexit === true" class="dropdown-content">
							<button @click="closesession()"> exit </button>
					</div>
				</div>
			</div>

			<div class="content">
				<div v-if="activetab === 1" class="tabcontent">
					<History/>
				</div>
				<div v-if="activetab === 2" class="tabcontent">
					<Prediction/>
				</div>
				<div v-if="activetab === 3" class="tabcontent">
					<CurrencyDynamic/>
				</div>
			</div>
		</div>
		<hr>

	</div>
	</div>
</template>

<script>
	import CurrencyDynamic from './components/CurrencyDynamic.vue'
	import History from './components/History.vue'
	import Prediction from './components/Prediction.vue'
	import axios from 'axios'

	export default {
	name: 'app',
	components: {
		CurrencyDynamic,
		History,
		Prediction,
	},

	deleted() {
		alert("Bye")
	},
	data: function() {
		return {
			logged: false,
			activetab: 1,
			showexit: false,
			inmessages: [],
			outmessage: null,
			response: '',
			login: null,
			password: null,
		}
	},
	methods: {
		activatetab(number) {
			[ this.activetab === number ? 'active' : '' ]
		},
		closesession() {
			this.logged = false;
			window.jwtToken = null;
			alert("Goodbye!")
		},
		trylogin() {
			const params = new URLSearchParams();
			params.append('grant_type', 'password');
			params.append('username', this.login);
			params.append('password', this.password);

			let options = {
				method: 'post',
				url: window.authhost + '/auth-service/oauth/token',
				data: params,
				headers: {
					'Authorization': 'Basic aW50ZXJuYWw6aW50ZXJuYWxfc2VjcmV0',
					'Content-Type': 'application/x-www-form-urlencoded'
				},

			};
			console.log(options);
			axios(options)
					.then(response => {
						this.response = response.data;
						console.log(this.response);
						window.jwtToken = 'Bearer ' + this.response.access_token;
						this.logged = true;
					})
					.catch(error => alert(error));
			/*else {
				this.response = 'NO'
			}*/
		},
	},
}
</script>

<style>
	h2 {
		padding-bottom: 0px;
	}
	.container {
			color: #000;
	}
	/* Style the tabs */
	.tabs {
			overflow: hidden;
			margin-bottom: -2px; /* hide bottom border */
	}
	.tabs p{
		margin-top: 0px;
		margin-bottom: 0px;
		float: left;
		cursor: pointer;
		padding: 12px 24px;
		transition: background-color 0.2s;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		font-weight: bold;
	}
	/* Change background color of tabs on hover */
	.tabs p:hover {
			background-color: #ddd;
	}
	/* Styling for active tab */
	.tabs p.active {
			background-color: #0d0;
			border-bottom: -2px solid #fff;
	}
	/* Style the tab content */
	.tabcontent {
			padding: 30px;
			border: 1px solid #ccc;
	}
	.table {
		border: 1px solid #00d;
	}
	.exitbutton {
		background-color: #f00;
		width: 50;
		height: 50;
	}
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.tabs .dropdown-content {
		display: block;
		position: absolute;
		left: 360px;
		top: 110px;
		background-color: #f9f9f9;
		min-width: 60px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
	}
	.loginform {
		text-align: center;
		margin: 300px;
		border: solid #333;
	}
	.error {
		color: #f00;
	}
	.text {
		margin-bottom: 2px;
	}
</style>
