<template>
  <div id="currency-dynamic">
    <Socket/>
    <hr>

  </div>
</template>

<script>

  import Socket from './Socket.vue'

  export default {
  name: "currency-dynamic",
  components: {
    Socket
  },
  data: function() {
    return {
      info: null,
    }
  },
  mounted() {

  },
  methods: {

  },
}
</script>

<style>

</style>
