<template>
	<div id="history">
		<select v-model="currencylistmodel" >
			<option selected disabled value="">Chose currency</option>
			<option v-for="(currencyitem, index) in currencylist" :key="currencyitem" @click="curselected(currencyitem, index)">
			{{ currencyitem }}
			</option>
		</select>
		<div v-for="(selecteditem, index) in selectedcurrency" :key="selecteditem" class="selectedcur">
			<span> {{ selecteditem }} </span>
			<button :id="index" @click="delselectedcur(index)"> x </button>
		</div> <br>

		<div class="filter">
			<button class="filterbutton" @click="filter()"> Фильтр </button>
			<p class="filterp"> Min: </p>
			<input class="filterinput" type="text" v-model="minfilter">
			<p class="filterp"> Max: </p>
			<input class="filterinput" type="text" v-model="maxfilter">
			<button v-if="isfilter" class="nofilter" @click="disablefilter()"> x </button>
			<br> <p class="filtererror" v-if="maxfilter < 0 || minfilter < 0"> Min and Max parameters should be pisitive </p>
		</div>

		<div v-if="!loaded" class="loader"></div>
		<HistoryChart :height="600" :width="1000"
			v-if="loaded"
			:chart-data="datacollection"
			:options="options"
		></HistoryChart>

		<div class="dates">
			<p class="filterp"> start: </p>
			<input class="calendar" type="date" v-model="startdate"
				min="1970-01-01" max="2019-12-31" @change="getJSON()">
				<p class="filterp"> end: </p>
			<input class="calendar" type="date" v-model="enddate"
				min="1970-01-01" max="2019-12-31" @change="getJSON()">
		</div>
	</div>
</template>

<script>
    import axios from 'axios'
    import HistoryChart from './HistoryChart.js'

    export default {
	name: "history",
	components: {
		HistoryChart
	},
	data: function() {
		return {
			currencylist: [ 'USD_JPY' ],
			currencylistmodel: [],
			selectedcurrency: [ 'GBP_JPY', 'EUR_JPY' ],
			allcurrency: ['GBP_JPY', 'EUR_JPY', 'USD_JPY'],
			datacollection: null,
			options: null,
			loaded: false,
			JSONdata: null,
			somedata: [[], [], []],
			labels: [],
			counter: 0,
			interval: null,
			changes: null,
			isfilter: false,
			minfilter: 0.01,
			maxfilter: 0.01,
			startdate: "2018-01-01",
			enddate: "2018-12-31",
		}
	},
	mounted () {
		this.options = {responsive: false, maintainAspectRatio: true};
		this.enddate = new Date().toJSON().slice(0,10);
		var d = new Date();
		d.setDate(d.getDate()-14);
		this.startdate = d.toJSON().slice(0,10);
		this.getData()
	},
	methods: {
		getJSON() { //do on tab open
			var headers = {
				headers: {
						'Content-Type': 'application/json',
						'Authorization': window.jwtToken
				}
			};
			var from = Date.parse(this.startdate);
			var to = Date.parse(this.enddate);
			if (to < from) {
				to = this.startdate;
				from = this.enddate
			}
			else {
				to = this.enddate;
				from = this.startdate;
			}
			var min = (this.isfilter === true) ? this.minfilter : 0.99;
			var max = (this.isfilter === true) ? this.maxfilter : 0.99;
			var url = window.authhost + '/currency-keeper/history?' + 'currencyList=' + this.selectedcurrency;
			url += '&from=' + from + '&to=' + to;
			url += '&max=' + max + '&min=' + min;
			axios
				.get(url, headers)
				.then(response => {
					this.JSONdata = response.data;
					console.log(this.JSONdata);
					this.labels = [];
					this.somedata = [[], [], []];
					for (var i = 0; i < this.JSONdata.length; i++) {
						for (var j = 0; j < this.JSONdata[i].value.length; j++) {
							if (i === 0) {
								this.labels.push(this.JSONdata[i].date[j]);
							}
							var index = this.allcurrency.indexOf(this.JSONdata[i].currency);
							this.somedata[index].push(parseFloat(this.JSONdata[i].value[j]))
						}
					}
					this.fillData()
				})
				.catch(error => console.log(error))

		},
		fillData() {
			this.datacollection = {
				labels: this.labels,
				datasets:
					[{
						label: 'GBP',
						backgroundColor: 'rgba(0, 250, 0, 0.2)',
						borderColor: 'green',
						pointBackgroundColor: 'green',
						borderWidth: 1,
						pointBorderColor: 'green',
						data: this.somedata[0],
					},
					{
						label: 'EUR',
						backgroundColor: 'rgba(0, 0, 250, 0.2)',
						borderColor: 'blue',
						pointBackgroundColor: 'blue',
						borderWidth: 1,
						pointBorderColor: 'blue',
						data: this.somedata[1],
					},
					{
						label: 'USD',
						backgroundColor: 'rgba(250, 0, 0, 0.2)',
						borderColor: 'red',
						pointBackgroundColor: 'red',
						borderWidth: 1,
						pointBorderColor: 'red',
						data: this.somedata[2],
					}
				]
			};
			this.loaded=true
		},
		getData() {
			this.getJSON();
			this.fillData();
			this.loaded=true;
		},
		curselected(curname, curindex) {
			this.selectedcurrency.push(curname);
			this.currencylist.splice(curindex, 1);
			this.currencylistmodel = this.currencylist;
			this.getJSON()
		},
		delselectedcur(index) {
			this.currencylist.push(this.selectedcurrency[index]);
			this.currencylistmodel = this.currencylist;
			this.selectedcurrency.splice(index, 1);
			this.getJSON()
		},
		disablefilter() {
			this.isfilter = false;
			this.getJSON()
		},
		filter() {
			this.isfilter = true;
			this.getJSON()
		}
	},
}
</script>
<style scoped>
	select {
		margin: 10px;
		padding: 3px 5px;
	}
	.selectedcur {
		padding: 3px 5px;
		border: solid #ccc;
		max-width: 100px;
		display:inline-block;
		margin-right: 5px;
	}
	.loader {
		margin: 250px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid blue;
		border-bottom: 16px solid blue;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	.filterp, .filterinput, .filterbutton, .nofilter {
		margin: 5px;
		max-width: 65px;
		display:inline-block;
	}

	.filtererror {
		background-color: #ff0000;
		max-width: 300px;
	}

	.calendar {
		margin: 5px;
	}
</style>
