<template>
	<div id="prediction">
		<select v-model="currencylistmodel">
			<option selected disabled value="">Chose currency</option>
			<option v-for="(currencyitem) in currencylist" :key="currencyitem" @click="curselected(currencyitem)">
			{{ currencyitem }}
			</option>
		</select>
		<div class="selectedcur">
			<span> {{ selectedcurrency }} </span>
		</div>
		<span> {{ model }}</span>
		<span v-if="model==='REALTIME'"> R2 score: {{ score }}% </span>
		<br>

		<div v-if="!loaded" class="loader"></div>
		<prediction-chart :height="600" :width="1000"
			v-if="loaded"
			:chart-data="datacollection"
			:options="options"
		></prediction-chart>

		<button @click="selectModel('year')"> Year </button>
		<button @click="selectModel('month')"> Month </button>
		<button @click="selectModel('week')"> Week </button>
		<button @click="selectModel('day')"> Day </button>
		<button @click="selectModel('realtime')"> Real time </button>
	</div>
</template>

<script>
    import axios from 'axios'
    import PredictionChart from './PredictionChart.js'
    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";

    export default {
	name: "Prediction",
	components: {
			PredictionChart
		},
	data () {
		return {
			currencylist: [ 'EUR_JPY', 'USD_JPY' , 'GBP_JPY' ],
			currencylistmodel: [ 'EUR_JPY', 'USD_JPY' , 'GBP_JPY'],
			selectedcurrency: 'USD_JPY',
			datacollection: null,
			options: null,
			loaded: true,
			JSONdata: null,
			somedata: [],
			realdata: [],
			labels: [],
			counter: 0,
			interval: null,
			changes: null,
			model: 'select time interval',
			socket: null,
			stompClient: null,
			connected: false,
			score: 0
		}
	},
	mounted () {
		this.options = {responsive: false, maintainAspectRatio: true}
		//this.getData()
	},
	methods: {
		selectModel(modelname) {
			this.model = modelname.toUpperCase();
			if (this.model === 'REALTIME') {
				this.getJSON();
				this.fillData();
				this.requestRegulary();
				this.connect();
				this.getScore()
			}
			else {
				clearInterval(this.interval);
				this.disconnect();
				this.labels = [];
				this.somedata = [];
				this.getJSON();
			}
		},
		fillData() {
			this.datacollection = {
			type: 'line',
			datasets:
				[{
					label: 'real data',
					backgroundColor: 'rgba(0, 0, 255, 0.8)',
					borderColor: 'lightblue',
					pointBackgroundColor: 'blue',
					borderWidth: 1,
					pointBorderColor: 'blue',
					fill: false,
					showLine: true,
					data: this.realdata //res.map(item => item.cancelled)
				},
				{
					label: 'prediction',
					backgroundColor: 'rgba(255, 255, 0, 0.8)',
					borderColor: 'darkyellow',
					pointBackgroundColor: 'darkyellow',
					borderWidth: 1,
					pointBorderColor: 'darkyellow',
					fill: false,
					showLine: true,
					data: this.somedata //res.map(item => item.cancelled)
				}]
			}
		},
		getJSON() { //do on tab open
			var headers = {
				headers: {
						'Content-Type': 'application/json',
						'Authorization': window.jwtToken
				}
			};
			var url = window.predictionhost + '/predict?currency=' + this.selectedcurrency.toLowerCase().substr(0, 3);
			url += '&interval=' + this.model.toLowerCase();
			axios
				.get(url, headers)
				.then(response => {
					this.JSONdata = response.data;
					this.somedata = [];
					for (var i = 0; i < this.JSONdata.currency.length; i++) {
						var Xaxe = Date.parse(this.JSONdata.date[i]) + 10682000;
						this.somedata.push({x:Xaxe,y:this.JSONdata.currency[i]})
					}
					this.fillData()
				})
				.catch(error => console.log(error));

			var to = new Date().toJSON().slice(0,10);
			var minus = 0;
			this.model === 'YEAR' ? minus = 365*2 : '';
			this.model === 'MONTH' ? minus = 30*2 : '';
			this.model === 'WEEK' ? minus = 7*2 : '';
			this.model === 'DAY' ? minus = 2 : '';
			var d = new Date();
			d.setDate(d.getDate()-minus);
			var from = d.toJSON().slice(0,10);
			url = window.authhost + '/currency-keeper/history?' + 'currencyList=' + this.selectedcurrency;
			url += '&from=' + from + '&to=' + to;
			url += '&max=' + 0.99 + '&min=' + 0.99;
			axios
				.get(url, headers)
				.then(response => {
					this.JSONdata = response.data;
					console.log(this.JSONdata);
					this.realdata = [];
					for (var i = 0; i < this.JSONdata.length; i++) {
						for (var j = 0; j < this.JSONdata[i].value.length; j++) {
							var Xaxe = Date.parse(this.JSONdata[i].date[j]) ;
							this.realdata.push({x:Xaxe,y:this.JSONdata[i].value[j]})
						}
					}
					this.fillData();
				})
				.catch(error => console.log(error))
		},
		connect() {
			this.socket = new SockJS(window.sockethost + "/open-socket");
			this.stompClient = Stomp.over(this.socket);
			this.stompClient.connect(
				{},
				frame => {
					console.log(frame);
					this.connected = true;
					this.stompClient.subscribe("/current", tick => {
						console.log(tick);
						var content = JSON.parse(tick.body);
						if (content.currency.replace("/","_") === this.selectedcurrency) {
							var Xaxe = Date.parse(content.time);
							this.realdata.push({x:Xaxe,y:content.value});
							this.fillData()
						}
					});
				},
				error => {
					console.log(error);
					this.connected = false;
				}
			);
		},
		getScore() {
			var headers = {
				headers: {
						'Content-Type': 'application/json'
				}
			};
			var url = window.predictionhost + '/score?currency=' + this.selectedcurrency.substr(0, 3).toLowerCase();
			axios
				.get(url, headers)
				.then(response => {
					this.score = response.data
				})
				.catch(error => console.log(error));
		},
		getData() {
			this.getJSON();
			this.fillData();
			this.loaded=true;
		},
		requestRegulary() {
			console.log('realtime started');
			this.interval = setInterval(function() {
				this.getJSON();
				this.fillData()
			}.bind(this), 60000);
			// clearInterval(this.interval)
		},
		disconnect() {
			if (this.stompClient) {
				this.stompClient.disconnect();
			}
			this.connected = false;
		},
		curselected(curname) {
			this.selectedcurrency = curname;
			this.currencylistmodel = this.currencylist;
			this.labels = [];
			this.somedata = [];
			this.getJSON()
		},
	}
}
</script>
<style scoped>
	button {
		margin: 10px;
	}
	select {
		margin: 10px;
		padding: 3px 5px;
	}
	.selectedcur {
		padding: 3px 5px;
		border: solid #ccc;
		max-width: 100px;
		display:inline-block;
		margin-right: 5px;
	}
	.loader {
		margin: 250px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #cccc00;
		border-bottom: 16px solid #cccc00;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>
