<template>
  <div id="socket">
    <button @click="send()" > send </button>
    <button id="disconnect" :disabled="connected == false" @click="disconnect()">Disconnect</button> <br>
    <br>
    <table id="messages">
      <thead>
        <tr>
          <th> Name </th>
          <th> Value </th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <td> GBP_JPY</td>
          <td id="gbp"><font :color="currencycolors[0]"> {{ currentvalues[0] }} </font></td>
      </tr>
      <tr>
          <td> EUR_JPY</td>
          <td id="eur"><font :color="currencycolors[1]"> {{ currentvalues[1] }} </font></td>
      </tr>
      <tr>
          <td> USD_JPY</td>
          <td id="usd"><font :color="currencycolors[2]"> {{ currentvalues[2] }} </font></td>
        </tr>
      </tbody>
    </table>

  </div>
</template>
<script>
    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";

    export default {
  name: "socket",
  data: () => ({
    socket: null,
    stompClient: null,
    send_message: null,
    connected: false,
    prevvalues: [],
    currentvalues: [1, 2, 3],
    currencynames: ['GBP_JPY', 'EUR_JPY', 'USD_JPY'],
    colors: ['white', 'green', 'red'],
    currencycolors: ["black", "black", "black"],
  }),
  mounted() {
    this.connect()
  },
      methods: {
          connect() {
              this.socket = new SockJS(window.sockethost + "/open-socket");
              this.stompClient = Stomp.over(this.socket);
              var vm = this;
              this.stompClient.connect(
                  {},
                  frame => {
                      this.connected = true;
                      console.log(frame);
                      this.stompClient.subscribe("/current", tick => {
                          console.log(tick);
                          var content = JSON.parse(tick.body);
                          var curname = content.currency;
                          console.log(curname);
                          var index = vm.currencynames.indexOf(curname);
                          console.log(index);
                          var curvalue = parseFloat(content.value);
                          console.log(curvalue);
                          var color = (vm.prevvalues[index] > curvalue) ? vm.colors[2] : vm.colors[1];
                          if (vm.prevvalues[index] === curvalue) {
                              color = vm.colors[0]
                          }
                          vm.currencycolors[index] = color;
                          console.log(vm.currentvalues);
                          vm.prevvalues[index] = vm.currentvalues[index];
                          console.log(vm.currentvalues[index]);
                          vm.currentvalues[index] = curvalue;

                          if (index === 0) {
                              window.document.getElementById("gbp").innerText = curvalue;
                              window.document.getElementById("gbp").bgColor = color;
                          } else if (index === 1) {
                              window.document.getElementById("eur").innerText = curvalue;
                              window.document.getElementById("eur").bgColor = color;
                          } else {
                              window.document.getElementById("usd").innerText = curvalue;
                              window.document.getElementById("usd").bgColor = color;
                          }
                          console.log(vm.currentvalues[index])
                      });
                  },
                  error => {
                      console.log(error);
                      this.connected = false;
                  }
              );
          },
      },

      disconnect() {
      if (this.stompClient) {
        this.stompClient.disconnect();
      }
      this.connected = false;
    },
      send() {
      if (this.stompClient && this.stompClient.connected) {
        const msg = { name: "hi" };
        this.stompClient.send("/app/hello", JSON.stringify(msg), {});
      }
          var curvalue = 0;
      var color = (this.prevvalues[0] > curvalue) ? this.colors[2] : this.colors[1];
      if (this.prevvalues[0] === curvalue) {
        color = this.colors[0]
      }
      this.currencycolors[0] = color
    }
}
</script>
<style scoped>
  table {
    margin: 20px;
    border: solid 2px #555;
    list-style: square;
  }
   th, td {
     padding: 3px;
     border: 1px solid black;
   }
</style>
