/* RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.container {
    color: #000;
}

/* Style the tabs */
.tabs {
    overflow: hidden;
    margin-bottom: -2px; /* hide bottom border */
}

.tabs TabButton{
    float: left;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    font-weight: bold;
}

/* Change background color of tabs on hover */
.tabs TabButton:hover {
    background-color: #ddd;
}

/* Styling for active tab */
.tabs TabButton.active {
    background-color: #0d0;
    border-bottom: 2px solid #fff;
}

/* Style the tab content */
.tabcontent {
    padding: 30px;
    border: 1px solid #ccc;
}

.table {
	border: 1px solid #00d;
}

.exitbutton {
  background-color: #f00;
  width: 50;
  height: 50;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.tabs .dropdown-content {
  display: block;
  position: absolute;
  left: 360px;
  top: 110px;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.selectedcur {
  padding: 3px 5px;
  border-radius: 3;
  border: solid #ccc;
  max-width: 100px;
  display:inline-block;
}
